<!-- edit.html.erb -->

<h1>Edit a Picture</h1>

<%= form_for @picture do |f| %>

<p>
	<label>Artist</label><br>
  <%= f.text_field "artist"%>
</p>

<p>
  <label>Title</label><br>
  <%= f.text_field "title" %>
  <p><%= @picture.errors.messages[:title].join(" ") %></p>
</p>

<p>
  <label>URL</label><br>
  <%= f.text_field "url" %>
  <p><%= @picture.errors.messages[:url].join(" ") %></p>
</p>

<p>
  <%= f.check_box "copyrighted" %>
  <%= f.label "copyrighted", "Photo is Copyrighted" %>
</p>

<p>
	<%= f.submit "Update"%>
</p>

<%end%>